# Ignore the following files and directories
# Input files
Codes/Odia_Token_POS_Chunk_Morph.txt
Codes/testing_1153.conll
Codes/training_17k.conll
# Output files
Codes/or-token-pos-morph-with-vibh-chunk-17022026.txt
Codes/testing_1153-or-token-pos-morph-with-vibh-chunk-03032026.txt
Codes/training_17k-or-token-pos-morph-with-vibh-chunk-03032026.txt
# Reordered files for training and testing
Codes/17022026-train-file.txt
Codes/test.txt
Codes/train.txt
# Pretrained Odia fastText model
Codes/cc.or.300.bin
# Model files
Codes/bilstm_weights-01-4.75.weights.h5
Codes/bilstm_weights-02-4.27.weights.h5
Codes/bilstm_weights-06-4.03.weights.h5
Codes/bilstm_weights-11-3.88.weights.h5
Codes/bilstm_weights-12-3.82.weights.h5
# Pickle files
Codes/char2index.pkl
Codes/word2index.pkl
Codes/index-to-case-tb.pkl
Codes/index-to-chunk-tb.pkl
Codes/index-to-pos-tb.pkl
Codes/index-to-vibh-tb.pkl
Codes/index-to-gender-tb.pkl
Codes/index-to-number-tb.pkl
Codes/index-to-person-tb.pkl
Codes/index-to-lcat-tb.pkl